<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DevQuiz.My.MySettings.db111ConnectionString" connectionString="Data Source=LAPTOP-SI4TPIV1;Initial Catalog=db111;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="DevQuiz.My.MySettings.db111ConnectionString1" connectionString="Data Source=DESKTOP-6MRVU7D;Initial Catalog=db111;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>